name: CI - Test + Build + Push Docker Image

on:
  push:
    branches: ["main"]
    paths:
      - "projects/python-ci-cd-docker/**"

jobs:
  test-and-build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: projects/python-ci-cd-docker

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest

      - name: Run tests
        run: pytest -q

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./projects/python-ci-cd-docker
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/python-ci-cd-docker:latest
